<label>What's Your Console of Choice?</label>
<div class="form-group">
   <pre>&lt;ng-giphy-search query="cats" template-url="views/giphy-view-custom.html"></ng-giphy-search></pre>
      <ng-giphy-search query="cats" limit="5" template-url="views/giphy-view-custom.html"></ng-giphy-search>

<div class="form-group row">
<!-- <div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="redream.results" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div> -->
</div>