<div class="text-center" style="margin= 0">
	<h1 style="margin = 0;" >RECALL</h1>
	
	<br><h5>what happened in your dream?</h5></br>
	<br></br>

</div>
<div class="form-group" style="padding: 30px;">
<div class="form-group row">


     <md-input-container flex>
          <label>Dream Symbols</label>
          <input ng-model="formData.name" placeholder="Cat">
      </md-input-container>
 <a id="next" ui-sref="redream.results" class="btn btn-2 typcn typcn-arrow-right"><h3>Next</h3></a>
</div>
</div>
<!-- </div> -->